body {
  background: url(drums.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

h1 {
  margin: 2rem 0;
  text-align: center;
}

.catalog-card {
  height: 400px;
  margin: 1em 0;
  padding: 0.5em;
  background-color: rgba(245, 243, 233, 0.9);
}

.card-body {
  padding: 1rem;
  text-align: center;
}

.card-img-top {
  width: 80%;
  margin: 5% 0 0 10%;
  padding: 0.25em;
  border: 1.5px solid black;
  border-radius: 0.25em;
  background: #fff;
}

.details-card {
  width: 90%;
  margin: 7% 0 0 5%;
  background-color: rgba(245, 243, 233, 0.9);
  border: 2px solid black;
}

.details-img {
  width: 30%;
  margin-left: 35%;
}

.description {
  margin: 0.5em;
  font-size: 0.75em;
  font-style: italic;
  color: #555;
}

.details {
  font-size: 0.9em;
}

.drum-pretext {
  font-size: 0.5em;
  color: #444;
}

.drum-brand {
  font-size: 1.5em;
  color: #444;
}

.blockquote-footer {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
  font-size: 1em;
  color: green;
  text-shadow: 1px 1px 0.5px rgba(204, 20, 20, 0.5);
}

.cart-text {
  margin-bottom: 0;
}

#cart {
  position: absolute;
  top: 1em;
  right: 1.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  background-color: rgba(245, 243, 233, 0.6);
}

.back-to-catalog {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: 0.75em;
  color: white;
  background-color: red;
}

.add-to-cart {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-size: 0.75em;
  color: white;
  background-color: green;
}

.cart-container {
  position: relative;
  width: 64%;
  margin: 7% 0 0 18%;
  padding: 1rem;
  text-align: center;
  border-radius: 1em;
  background-color: rgba(245, 243, 233, 0.9);
}

.cart-item {
  position: relative;
  width: 60%;
  margin: 0 20% 2% 20%;
  padding: 0.5em;
  overflow: auto;
  border: 1px solid black;
  border-radius: 0.25em;
  background-color: rgba(245, 243, 233, 0.65);
}

.cart-brand {
  padding-right: 0.25em;
}

.cart-item-price {
  position: absolute;
  bottom: 0.5em;
  right: 1em;
}

.cart-count {
  margin-right: 2.5em;
}

.cart-img {
  width: 100px;
  height: auto;
}

.hidden {
  display: none;
}
